body {  
   background:;
   padding: 20px;
   Width: 800px #E6E6E6;
   margin: 80px ;
   border: 40px solid grey;
   Font-family: "Century Schoolbook", century, sarif;
   }
h2, .address, .email {text-align: center;}
h2, h3{ 
   text-decoration: underline;}  
div1, .date{margin-right:auto;}
