body {  
   background:#E0F5FF;
   padding: 40px;
   Width: 800px;
   margin: 100px ; 
   border-width:40px;
   border-style:ridge;
   border-color:#66FFFF;
   Font-family: "Century Schoolbook", century, sarif;
   }

h2, .address, .email {text-align: center;}
h2, h3{ 
   text-decoration: underline;}  
.location, .date {text-align: right;}
td{width:500px;}
