body {  
   background-image:url(https://c2.staticflickr.com/6/5500/14646297896_04e073951a_n.jpg);
   background-size: 100% 100%;
   padding: 40px;
   Width: 800px #E6E6E6;
   margin: 100px ; 
   border: 40px solid grey;
   Font-family: "Century Schoolbook", century, sarif;
   }
h2, .address, .email {text-align: center;}
h2, h3{ 
   text-decoration: underline;}  
.location, .date {text-align: right;}
td{width:500px;}
